    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I distinctly remember a picture in a children's science book I once read.
                It depicted the city of tomorrow: solar panels on every roof, cars without tailpipes,
                and a maglev train speeding off towards a row of wind turbines in the distance.
                The caption claimed that the Earth will run out of fossil fuels in fifty years,
                and by then we will need to completely transition to renewable energy.</p>
                <p>"Fifty years?" I thought, "Why should anyone have to wait that long?"
                Sure neccessity plays a role, but shouldn't faster, cleaner, and simply cooler technology
                be a good enough reason?
                The sole concept of converting sunlight to electricity and powering cars with it intrigued me.
                The hope of traveling between cities at hundreds of miles per hour excited me.
                Throughout my education, I kept an open-minded and fundamentals-first attitude because
                I knew that tomorrow's technology will be built upon today's science.
                Now, I conduct research on energy storage systems that will power the transportation
                and electronics of tomorrow.</p>
            </div>
        </div>
    </section>
