    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="profile-box"><img src="/img/profile_500px.jpg" height="100%"></div>
                        <h1 class="brand-heading">Sampson Lau</h1>
                        <p class="intro-text">
                          Chemical Engineer by training. Scientist at heart.<br>
                          Breakdancer on occasion.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
