    <!-- Research Section -->
    <section id="research" class="content-section text-center">
        <div class="research-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="shadowed">Research</h2>
                    <p class="shadowed">I currently do research at Cornell University on lithium-air batteries,
                      which is an experimental class of batteries with ten times the energy density of
                      conventional lithium-ion batteries. Read more about my reseach below.</p>
                    <script async src="/js/medium_embed.js"></script>
                    <a class="m-story" data-collapsed="true" href="https://medium.com/@SampsonLau/connecting-the-dots-in-the-lithium-air-battery-477b91c492bc">Connecting the Dots in the Lithium-Air Battery</a>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a target="_blank" href="https://www.researchgate.net/profile/Sampson_Lau" class="btn btn-default btn-lg"><i class="fa fa-file-text-o fa-fw"></i> <span class="network-name">Publications</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
