    <!-- Research Section -->
    <section id="work" class="content-section text-center">
        <div class="work-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="shadowed">eVTOL Battery Engineering</h2>
                    <p class="shadowed">I am currently a Staff Battery Engineer at Wisk. We have been developing electric vertical takeoff and landing aircraft for over a decade,
                        achieving many of the industry's first technological milestones. In my six years at the company, I have worked with nearly every aspect of the batteries and cells.
                        We are now developing the sixth generation aircraft with the intention of transporting our first passengers.
                    </p>
                    <script async src="/js/medium_embed.js"></script>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a target="_blank" href="https://wisk.aero" class="btn btn-default btn-lg"><i class="fa fa-external-link" aria-hidden="true"></i> <span class="network-name">Wisk - Official Website</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/watch?v=1YUv0AMq0x8" class="btn btn-default btn-lg"><i class="fa fa-youtube-play" aria-hidden="true"></i> <span class="network-name">60 Minutes Feature</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
